<p id="notice"><%= notice %></p>
<%= render 'shared/title', title: "Orders" %>


<table>
  <thead>
    <tr>
      <th>票數</th>
      <th>讚</th>
      <th>噓</th>
      <th><%= t("order.name") %></th>
      <th>Phone</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_votes %></td>
        <td>
          <%= link_to '讚', vote_order_path(order, vote: true), class: "btn btn-primary", method: 'post' %>
        </td>
        <td>
          <%= link_to vote_order_path(order, vote: false), class: "btn btn-danger", method: 'post' do %>
          噓
          <% end %>
        </td>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', order_path(order), class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', order_path(order), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>
<br>
<%if logged_in? %>
  <%= link_to 'New Order', new_order_path, class:"btn btn-primary" %>
<%end %>
